:root {
    --cookie-color : red;
    --main-color : red;
}

.cookie__body {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 100%;
    margin-top: 20px;
    font-family: "swgi";
}
.cookie__body .title {
    font-size: 35px;
    font-weight: 600;
}
.cookie__body .sub-title {
    margin-top: 20px;
    font-size: 22px;
    padding-bottom: 50px;
}
.button-wrapper {
    display: flex;
    flex-direction: row;
}

#cookie {
    outline: none;
}

button#cookie {
    appearance: none;
    background: none;
    border: transparent;
    cursor: pointer;
}

button#cookie:disabled {
    cursor: default;
}

button#new,
button#return {
    font-family: "swgi";
    font-weight: 500;
}

#flip {
    bottom: 8vmin;
    opacity: 0;
    position: absolute;
    transition: opacity 125ms;
    transition-delay: 375ms;
    width: 48%;
    height: 10%;
    line-height: 20px;
    font-size: 18px;
    
}

#flip.back::before {
    content: '앞면을 보려면 여기를 탭하세요.';
}

#flip.front::before {
    content: '뒷면을 보려면 여기를 탭하세요.';
}

.clear.open #flip {
    opacity: 0;
    transition: 250ms;
}

.open #flip {
    opacity: 1;
    z-index: 5;
}

#fortuneCookie {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 40vmin;
    width: 100%;
    position: relative;

    padding: 10px 0 10px 0;
}

#fortuneCookie:not(.open) {
    transform-origin: 50% 0;
    animation-name: shake;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 0.5s;
}

#fortuneCookie.clear:not(.open) {
    animation: clear-cookie forwards 500ms;
    z-index: -1;
}

#new {
    background-color: var(--main-color);
    border: 1px solid transparent;
    border-radius: 20px;
    font-size: 30px;
    font-weight: 600;
    width: 250px;
    height: 150px;
    color: white;
    transition: 250ms;
    margin: 0 1rem 0 1rem;
}

#new:hover {
    background-color: white;
    border-color: var(--main-color);
    color: var(--main-color);
}

#return {
    background-color: grey;
    border: 1px solid transparent;
    border-radius: 20px;
    font-size: 30px;
    font-weight: 600;
    width: 250px;
    height: 150px;
    color: white;
    transition: 250ms;
    margin: 0 1rem 0 1rem;
}

#return:hover {
    background-color: white;
    border-color: grey;
    color: grey;
}

.cookie {
    background-image: radial-gradient(white 4.3%, transparent 4.4%), radial-gradient(100% 200% at top right, var(--cookie-color), rgba(218, 165, 32, 0) 50%), radial-gradient(ellipse 100% 300% at 100% 40%, lemonchiffon, rgba(255, 250, 205, 0) 30%), radial-gradient(circle at top left, saddlebrown, rgba(139, 69, 19, 0) 40%), linear-gradient(to bottom, var(--cookie-color) 43%, rgba(218, 165, 32, 0) 50%), radial-gradient(circle at center left, rgba(255, 250, 205, 0) 37%, rgba(255, 250, 205, .5) 41.9%, transparent 42%), radial-gradient(circle at 55% 47%, var(--cookie-color) 3%, transparent 7%), radial-gradient(circle at center right, rgba(139, 69, 19, 0) 37%, rgba(139, 69, 19, .5) 41.9%, transparent 42%), radial-gradient(circle at center left, var(--cookie-color) 41.9%, transparent 42%), radial-gradient(circle at center right, var(--cookie-color) 41.9%, transparent 42%), linear-gradient(to bottom, transparent 49.9%, white 50%), radial-gradient(rgba(255, 250, 205, 0.5) 10%, rgba(255, 250, 205, 0) 15%), linear-gradient(to bottom, var(--cookie-color) 49.9%, transparent 50%);
    border-radius: 100%;
    height: 40vmin;
    width: 40vmin;
    position: absolute;
    top: 0;
    z-index: 5;
}

.cookie:first-child {
    clip-path: polygon(0% 0%, 50% 0%, 53% 5%, 49% 10%, 55% 15%, 47% 20%, 52% 30%, 46% 40%, 50% 45%, 50% 100%, 0% 100%);
    left: calc(50% - 20vmin);
}

.clear.open .cookie:first-child {
    animation: left-clear forwards 500ms;
    z-index: -1;
}

.open .cookie:first-child {
    animation: left-open forwards 500ms;
}

.cookie:nth-child(2) {
    clip-path: polygon(100% 100%, 100% 0%, 50% 0%, calc(53% - 1px) 5%, calc(49% - 1px) 10%, calc(55% - 1px) 15%, calc(47% - 1px) 20%, calc(52% - 1px) 30%, calc(46% - 1px) 40%, 50% 45%, 50% 100%);
    right: calc(50% - 20vmin);
}

.clear.open .cookie:nth-child(2) {
    animation: right-clear forwards 500ms;
    z-index: -1;
}

.open .cookie:nth-child(2) {
    animation: right-open forwards 500ms;
}

.drop {
    animation: drop forwards 500ms;
    z-index: -1;
}

.paper {
    color: navy;
    flex-direction: column;
    font-size: 2.25vmin;
    left: 0;
    line-height: 1;
    position: absolute;
    text-align: center;
    top: 0;
    transform-origin: 100% 5vmin;
    transform-style: preserve-3d;
    transition: 300ms;
    width: 0;
    z-index: -1;
}

.paper-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
}

.paper-wrapper.flip .paper {
    transform: rotateX(-180deg);
}

.paper .fortune, .paper .numbers {
    opacity: 0;
}

.clear.open .paper-wrapper {
    animation: clear-fortune forwards 500ms;
}

.open .paper {
    animation: open-fortune forwards 500ms;
}

.open .paper-wrapper, .open .paper, .open .paper .fortune, .open .paper .numbers {
    height: 10vmin;
    width: 40vmin;
}

.open .paper .fortune, .open .paper .numbers {
    align-items: center;
    display: flex;
    justify-content: center;
    backface-visibility: hidden;
    background-color: white;
    left: 0;
    opacity: 1;
    overflow: hidden;
    padding: 1.5vmin;
    position: absolute;
    top: 0;
}

.open .paper .fortune {
    transition: opacity 125ms;
    transition-delay: 375ms;
}

.open .paper .numbers {
    transform: rotateX(180deg);
}

@keyframes clear-cookie {
    from {
        top: 0;
        left: 0;
   }
    to {
        top: 100vmin;
        left: 100vmin;
        transform: rotate(180deg);
   }
}

@keyframes drop {
    from {
        top: -100vmin;
   }
    to {
        top: 0;
   }
}

@keyframes left-open {
    25% {
        margin-left: -5vmin;
        transform: rotate(10deg);
   }
    75% {
        margin-left: -5vmin;
        background-image: radial-gradient(white 4.3%, transparent 4.4%), radial-gradient(100% 200% at top right, var(--cookie-color), rgba(218, 165, 32, 0) 50%), radial-gradient(ellipse 100% 300% at 100% 40%, lemonchiffon, rgba(255, 250, 205, 0) 30%), radial-gradient(circle at top left, saddlebrown, rgba(139, 69, 19, 0) 40%), linear-gradient(to bottom, var(--cookie-color) 43%, rgba(218, 165, 32, 0) 50%), radial-gradient(circle at center left, rgba(255, 250, 205, 0) 37%, rgba(255, 250, 205, .5) 41.9%, transparent 42%), radial-gradient(circle at 55% 47%, var(--cookie-color) 3%, transparent 7%), radial-gradient(circle at center right, rgba(139, 69, 19, 0) 37%, rgba(139, 69, 19, .5) 41.9%, transparent 42%), radial-gradient(circle at center left, var(--cookie-color) 41.9%, transparent 42%), radial-gradient(circle at center right, var(--cookie-color) 41.9%, transparent 42%), linear-gradient(to bottom, transparent 49.9%, white 50%), radial-gradient(rgba(255, 250, 205, 0.5) 10%, rgba(255, 250, 205, 0) 15%), linear-gradient(to bottom, var(--cookie-color) 49.9%, transparent 50%);
        border-radius: 100%;
        height: 40vmin;
        width: 40vmin;
        position: absolute;
        top: 0;
        z-index: 5;
        clip-path: polygon(0% 0%, 50% 0%, 53% 5%, 49% 10%, 55% 15%, 47% 20%, 52% 30%, 46% 40%, 50% 45%, 50% 100%, 0% 100%);
        transform: rotate(10deg);
   }
    100% {
        background-image: linear-gradient(45deg, transparent 46%, white 46.1%), linear-gradient(45deg, var(--cookie-color) 39%, transparent 39.1%), radial-gradient(circle at 14% 86%, rgba(0, 0, 0, 0.25) 35%, transparent 35%), radial-gradient(circle at 10% 90%, var(--cookie-color) 40%, transparent 40%), linear-gradient(45deg, var(--cookie-color) 40%, transparent 40.1%);
        border-radius: 100% 0;
        clip-path: none;
        margin-left: -15vmin;
        transform: rotate(45deg);
   }
}

@keyframes left-clear {
    from {
        background-image: linear-gradient(45deg, transparent 46%, white 46.1%), linear-gradient(45deg, var(--cookie-color) 39%, transparent 39.1%), radial-gradient(circle at 14% 86%, rgba(0, 0, 0, 0.25) 35%, transparent 35%), radial-gradient(circle at 10% 90%, var(--cookie-color) 40%, transparent 40%), linear-gradient(45deg, var(--cookie-color) 40%, transparent 40.1%);
        border-radius: 100% 0;
        clip-path: none;
        margin-left: -15vmin;
        transform: rotate(45deg);
   }
    to {
        left: -40vmin;
        top: -40vmin;
        transform: rotate(-45deg);
   }
}

@keyframes right-open {
    25% {
        margin-right: -5vmin;
        transform: rotate(-10deg);
   }
    75% {
        margin-right: -5vmin;
        background-image: radial-gradient(white 4.3%, transparent 4.4%), radial-gradient(100% 200% at top right, var(--cookie-color), rgba(218, 165, 32, 0) 50%), radial-gradient(ellipse 100% 300% at 100% 40%, lemonchiffon, rgba(255, 250, 205, 0) 30%), radial-gradient(circle at top left, saddlebrown, rgba(139, 69, 19, 0) 40%), linear-gradient(to bottom, var(--cookie-color) 43%, rgba(218, 165, 32, 0) 50%), radial-gradient(circle at center left, rgba(255, 250, 205, 0) 37%, rgba(255, 250, 205, .5) 41.9%, transparent 42%), radial-gradient(circle at 55% 47%, var(--cookie-color) 3%, transparent 7%), radial-gradient(circle at center right, rgba(139, 69, 19, 0) 37%, rgba(139, 69, 19, .5) 41.9%, transparent 42%), radial-gradient(circle at center left, var(--cookie-color) 41.9%, transparent 42%), radial-gradient(circle at center right, var(--cookie-color) 41.9%, transparent 42%), linear-gradient(to bottom, transparent 49.9%, white 50%), radial-gradient(rgba(255, 250, 205, 0.5) 10%, rgba(255, 250, 205, 0) 15%), linear-gradient(to bottom, var(--cookie-color) 49.9%, transparent 50%);
        border-radius: 100%;
        height: 40vmin;
        width: 40vmin;
        position: absolute;
        top: 0;
        z-index: 5;
        clip-path: polygon(100% 100%, 100% 0%, 50% 0%, calc(53% - 1px) 5%, calc(49% - 1px) 10%, calc(55% - 1px) 15%, calc(47% - 1px) 20%, calc(52% - 1px) 30%, calc(46% - 1px) 40%, 50% 45%, 50% 100%);
        transform: rotate(-10deg);
   }
    100% {
        background-image: linear-gradient(-45deg, transparent 46%, white 46.1%), linear-gradient(-45deg, var(--cookie-color) 39%, transparent 39.1%), radial-gradient(circle at 86% 86%, rgba(0, 0, 0, 0.25) 35%, transparent 35%), radial-gradient(circle at 90% 90%, var(--cookie-color) 40%, transparent 40%), linear-gradient(-45deg, var(--cookie-color) 40%, transparent 40.1%);
        border-radius: 0 100%;
        clip-path: none;
        margin-right: -15vmin;
        transform: rotate(-45deg);
   }
}

@keyframes right-clear {
    from {
        background-image: linear-gradient(-45deg, transparent 46%, white 46.1%), linear-gradient(-45deg, var(--cookie-color) 39%, transparent 39.1%), radial-gradient(circle at 86% 86%, rgba(0, 0, 0, 0.25) 35%, transparent 35%), radial-gradient(circle at 90% 90%, var(--cookie-color) 40%, transparent 40%), linear-gradient(-45deg, var(--cookie-color) 40%, transparent 40.1%);
        border-radius: 0 100%;
        clip-path: none;
        margin-right: -15vmin;
        transform: rotate(-45deg);
   }
    to {
        bottom: -40vmin;
        right: -40vmin;
        transform: rotate(30deg);
   }
}

@keyframes clear-fortune {
    from {
        top: 0;
        transform: translateZ(120deg);
   }
    to {
        top: -100vh;
        transform: rotate(90deg);
   }
}

@keyframes open-fortune {
    25% {
        width: 10vmin;
   }
    75% {
        box-shadow: none;
        padding: 0;
        width: 10vmin;
        z-index: -1;
   }
    100% {
        box-shadow: 0 1vmin 2vmin rgba(0, 0, 0, 0.125);
        width: 40vmin;
        z-index: 10;
        transform: translateZ(90deg);
   }
}

@keyframes shake{
    0%{
        transform: rotate(0deg);
    }
    10%{
        transform: rotate(5deg);
    }
    20%{
        transform: rotate(-5deg);
    }
    30%{
        transform: rotate(5deg);
    }
    40%{
        transform: rotate(-5deg);
    }
    50%{
        transform: rotate(5deg);
    }
    60%{
        transform: rotate(-5deg);
    }
    70%{
        transform: rotate(5deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
