.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.cooking__title{
    font-family:"swgi";
    font-size:35px;
    font-weight:600;
}

.cooking__subtitle {
    font-family:"swgi";
    margin-top: 20px;
    font-size: 22px;
    padding-bottom: 30px;
}

.flex__horizon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.disabled{
    pointer-events: none;
}
.relative{
    position: relative;
}

textarea{
    font-size: inherit;
    border-radius: 20px;
    border: 20px;
}

textarea:focus{
    outline: none;
}

button{
    border: none;
    font-size: inherit;
}

.margin6{
    margin-top: 5%;
}
.margin7{
    margin-top: 5%;
}

.input-form__font-size{
    font-size: 30px;
}

.input-form{
    width: 90%;
    height: 700px;
}

.input-form__check{
    margin-left: 100px;
    margin-right: 100px;
    width: 170px;
    height: 30px;
    font-family: "swgi";
}

.input-form__check input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label span {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin:-2px 19px 0 0;
    vertical-align:middle;
    background:url('../../images/chkbox-off.png') left top no-repeat;
    cursor:pointer;
}

input[type="checkbox"]:checked + label span {
    background:url('../../images/chkbox-on.png') top no-repeat;
}

.input-form__input{
    width: 900px;
    height: 500px;
    background-color: #ECE8E4;
    border-radius: 50px;
    margin-top: 30px;
}

.input-form__submit{
    width: 345px;
    height: 75px;
    border-radius: 50px;
    margin-top: 30px;
    font-family: "swgi";
}

.input-form__submit:hover{
    background-color: #C09F80;
    cursor: pointer;
    transition: all .35s;
}

.input-form__text{
    width: 750px;
    height: 350px;
    padding: 20px;
}

.input-form__result__modal{
    width: 90%;
    height: 700px;
    position: absolute;
    top: 150px;
    background-color: #FFFFFF;
    background-image: url('../../images/oven.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    line-height: 80px;
}

.input-form__result__cookie{
    position: absolute;
    width: 100px;
    height: 100px;
}

.input-form__result__button{
    width: 320px;
    height: 75px;
    border-radius: 50px;
    position: absolute;
    bottom: 60px;
    background-color: #ECE8E4;
    text-decoration: none;
    color: inherit;
    text-align: center;
}

.input-form__result__button:hover{
    background-color: #C09F80;
    transition: all .35s;
}

.input-form__result__back{
    width: 400px;
    height: 100px;
    font-family: "swgi";
}

.hidden{
    display: none;
}

.animation{
    animation-duration: 3s;
    animation-name: cookie;
    opacity: 0;
}

@keyframes cookie {
    0% {
        left: 0;
        opacity: 1;
    }
    50%{
        left: 40%;
        opacity: 1;
    }
    100% {
        left: 45%;
        opacity: 0;
    }
}
