.fortune__title {
    position: absolute;
    top: 250px;
    font-size: 50px;
    font-weight: 600;
    font-family: "swgi";
}

.fortune__subtitle {
    position: absolute;
    top: 350px;
    font-size: 25px;
    font-family: "swgi";
}

.fortune__body {
    margin-top: 200px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.fortune__body > div {
    display: flex;
    justify-content: center;

    margin-top: 40px;
}


.fortune__body img {
    width: 100px;
    height: 100px;
}
