.navbar{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 150px;
    background: #C09F80;
    margin: 0;
}

.navbar-column {
    box-sizing: border-box;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-column:nth-child(1) {
    box-sizing: border-box;
    flex:1;
}
.navbar-column:nth-child(2) {
    box-sizing: border-box;
    flex:3;
    display: flex;
}

.navbar a{
    text-decoration-line: none;
}

.navbar__logo a p{
    font-family: "nanumpen";
    font-size: 64px;
    font-weight: 500;
    color: black;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    padding-left: 30px;
}

.navbar__logo a p:hover {
    cursor: pointer;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    transition: text-shadow 0.5s;
}

.navbar__items {
    display: flex;
    text-align: center;
    position: relative;
    height: 100px;
    left: 100px;
}

.navbar__items a p{
    font-family: "swgi";
    width: 100%;
    font-size: 26px;
    font-weight: 500;
    height: 30px;
    line-height: 100px;
    margin-left: 20px;
}

.navbar__items .nav__fortune {
    left: 53px;
    color: #964545;
}

.navbar__items .nav__mild{
    left: 246px;
    color: #4E5BCC;

}

.navbar__items .nav__hot{
    left: 439px;
    color: #F23030;
}

.navbar__items .nav__cooking{
    left: 632px;
    color: #B732D9;
}

.navbar__items a p:hover{
    font-weight: 600;
    cursor: pointer;
}
