extends layout

block content
    body.input-form__font-size.flex
        div.input-form.flex.relative.margin6
            div.cooking__title
                p 쿠키 굽기
            div.cooking__subtitle
                p 아래에 원하는 메시지를 작성해주세요!
            div
                label.input-form__check
                    input(name='mild', id='c1', type='checkbox', value='1', checked=true)
                    label(for='c1') 
                        span
                        | 순한맛
                label.input-form__check
                    input(name='hot', id='c2', type='checkbox', value='2')
                    label(for='c2')
                        span
                        | 매운맛
            
            div.flex          
                div.input-form__input.flex
                    textarea(name="cookieContents", rows="5", cols="60", maxlength="150").input-form__text
                
                button(type='submit').input-form__submit.disabled 쿠키 굽기

        div.flex.input-form__result__modal.hidden.margin7
            img(src='images/cookie.png', alt='cookie').input-form__result__cookie
            div.flex__horizon
                div.input-form__result__back
                    a(href='./').input-form__result__button 돌아가기 
                div.input-form__result__back
                    a(href='./cooking').input-form__result__button 쿠키 더 굽기
    script(type='module' src='/javascripts/cooking.js')
