extends layout

block content 
    .fortune__body
        each val, index in ['mouse', 'cow', 'tiger', 'rabbit', 'dragon', 'snake', 'horse', 'sheep', 'monkey', 'hen', 'dog', 'pig']
            .zodiac__wrapper
                a(href=`./fortune/${val}`)
                    img(src=`/images/zodiac/${val}.jpg`)