doctype html
html
  head
    title= title
    block css
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    include ./header.pug
    .main-layout
        block content
    script(src="/javascripts/header.js")
    block script
