@import './util/reset.css';
@import './util/font.css';
@import './pages/cooking.css';
@import './pages/fortune.css';
@import './pages/header.css';
@import './pages/index.css';

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
